.user-menu {
	display: flex;
	align-items: center;
}

.user-menu__home {}

.user-menu__local {
	flex-shrink: 0;
}

.user-menu__user {}

@media (max-width: 768px) {
	.user-menu__home {
		display: none;
	}
}